/datasets/heart_cdc.csv
/datasets/heart_2020_cleaned.csv
/heart_imputed.csv
heart_imputed_2.csv
datasets/heart_imputed_3.csv
categorical_data.csv
datasets/heart_2020_cleaned.csv
datasets/categorical_preimputed_data.csv
datasets/numerical_preimputed_data.csv
Main_Paper.pdf
clustering_analysis.ipynb
datasets/numerical_data_imputed.csv
~$Report.docx
Images/bmi.png
Images/boxplots.png
Images/clus.png
Images/cm.png
Images/elbow.png
Images/idt.png
Images/ilr.png
Images/isvm.png
Images/kdt.png
Images/klr.png
Images/ksvm.png
Images/missed numbers.png
Images/msno.png
Images/newplot.png
Images/newplot2.png
Images/odt.png
Images/odtr.png
Images/pairplots.png
Images/pcac.png
Images/vm.png
Report.docx
Images/am1.png
Images/fc.png
Images/iae1.png
Images/iae2.png
Images/kae1.png
Images/kae2.png
Images/kk1.png
Images/kk2.png
Images/kmodel.png
Images/krim.png
Images/krim2.png
Images/mlpk1.png
Images/mlpk2.png
Images/mlpk3.png
Images/mlpk4.png
Images/mlpmodel.png
Images/mlpmodel2.png
Images/mlpr1.png
Images/mlpr2.png
Images/mlpr3.png
Images/oae1.png
Images/oae2.png
Images/total.png
Images/unina.jpeg
